<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <apartment-system-spinner-sizes></apartment-system-spinner-sizes>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <apartment-system-spinner-color></apartment-system-spinner-color>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <apartment-system-spinner-in-buttons></apartment-system-spinner-in-buttons>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <apartment-system-spinner-in-tabs></apartment-system-spinner-in-tabs>
  </div>
</div>
