<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <apartment-system></apartment-system>
      </div>
      <div class="col-md-6">
        <apartment-system-earning-card></apartment-system-earning-card>
      </div>
    </div>

    <apartment-system-traffic-reveal-card></apartment-system-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <apartment-system-ecommerce-charts></apartment-system-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <apartment-system-country-orders></apartment-system-country-orders>
  </div>

  <div class="col-xxl-3">
    <apartment-system-progress-section></apartment-system-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <apartment-system-ecommerce-visitors-analytics></apartment-system-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <apartment-system-user-activity></apartment-system-user-activity>
  </div>
</div>
